@import "sass/global.scss";

.footer {
  background-color: darken($black, 7%);
  .copyright,
  .contact,
  .whitepaper,
  .network {
    padding: get-spacer(2) 0;
    text-align: right;
    display: block;
    color: white;
    margin: 0;
  }
  .whitepaper {
    text-align: left;
  }
  .contact-wrapper {
    background-color: black;
  }
  .contact {
    text-align: left;
  }
  .dt {
    text-align: right;
    .logo {
      padding: get-spacer(3) 0;
      display: block;
      img {
        width: 198px;
        height: auto;
      }
    }
  }
  .social-nav {
    padding: get-spacer(3) 0;
    a {
      margin-right: get-spacer(3);
      text-decoration: underline;
      color: white;
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    .contact {
      text-align: right;
    }
    .social-nav {
      text-align: right;
      a {
        margin-left: get-spacer(3);
        margin-right: 0;
      }
    }
  }
}
