<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <a class="whitepaper" href="https://www.dropbox.com/s/uolcmz826lpmgnb/SIMPLEICO_WHITEPAPER.pdf?dl=0" target="_blank">Whitepaper</a>
      </div>
      <div class="col-6">
        <app-network-toggle></app-network-toggle>
      </div>
    </div>
  </div>
  <section class="contact-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <nav class="social-nav">
            <em><a target="_blank" href="https://twitter.com/SimpleICO">Twitter</a></em>
            <em><a target="_blank" href="https://www.instagram.com/simpleico">Insta</a></em>
            <em><a target="_blank" href="https://t.me/simple_ico">Telegram</a></em>
          </nav>
        </div>
        <div class="col-sm-6">
          <div class="dt">
            <a href="https://decentralizedtechnologies.io" target="_blank" class="logo">
              <img src="assets/svg/logo-decentalized-technologies-light.svg" alt="Decentralized Technologies, SA.">
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="contact">
            <a href="mailto:hello@simpleico.com" target="_blank">hello@simpleico.com</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="copyright">
            <small>&copy; Decentralized Technologies, S.A. 2018</small>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
